<form method="post" action="{{ path('app_patients_delete', {'id': patient.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patient.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
