{% extends 'base.html.twig' %}

{% block title %}Dossiers Médicaux{% endblock %}

{% block body %}
    <h1>Dossiers Médicaux</h1>
    <div class="alphabet">
        {% for letter in letters %}
            <a href="{{ path('app_patients_by_letter', {letter: letter}) }}">{{ letter }}</a>
        {% endfor %}
    </div>

    <div class="new-patient">
        <a href="{{ path('app_patient_new') }}" class="btn btn-primary">Créer un nouveau dossier médical</a>
    </div>
{% endblock %}
